
.btn-list-clicked {
  background: #7a00ff
}

.tbl-board {
  border-collapse: collapse;
  table-layout: inherit;
  margin: 10px;
}

.status {
  font-size: 30px;
  color: #00ffd5;
}

.light {
  background-color: rgb(201, 201, 201);
}