.btn-click {
  margin: 20px;
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 100px;
  height: 60px;
}

.btn-click:hover {background-color: #3e8e41}

.btn-click:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.btn-undo {
  font-weight: 30px;
  font-size: 24px;
  width: 100px;
  height: 65px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.btn-undo:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.btn-undo:active {
  color: #000
}

.btn-undo:active:after {
  background: transparent;
}

.btn-undo:hover:before {
  opacity: 1;
}

.btn-undo:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.btn-list-clicked{
  background: #7a00ff
}

.tbl-cell {
  width: 5vh;
  height: 5vh;
  border: 1px solid black;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.tbl-board{
  border-collapse: collapse;
  table-layout: inherit;
  margin: 10px;
}

.square-click{
  background: #9191d3
}

.square-win{
  background: chartreuse;
  font-weight: bold;
}

.status{
  font-size: 30px;
  color: #00ffd5;
}

.light{
  background-color: #eae1f3;
}